.ai {
    height: 30vh;
}

.wrapper {
    width: 100%;
}

.wrapper>.text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper>.text>h1{
    font-family: 'Dela Gothic One';
    font-size: 2em;
}

.wrapper>.text>h2 {
    font-family: 'Poppins';
    font-size: 1.2em;
    max-width: 60ch;
}